#topnav .topbar-main {
    background: #fff;
}
#topnav .navbar-toggle span, #topnav .navbar-toggle:hover span {
    background-color: #f79827;
}
#topnav{
  background-color: #005881;
}
.breadcrumb {
    margin-bottom: 0;
}
.breadcrumb  li a {
    color: #fff;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    font-size: 16px;
}
.breadcrumb > li + li:before {
    font-family: FontAwesome;
    font-size: 14px;
    content: "\f105";
    color: #b2b6bf;
    padding: 0;
    margin: 0 8px 0 0;
    position: relative;
    top: 1px;
}
.breadcrumb > li, .breadcrumb > li.active {
    color: #71b6f9;
    padding: 0 3px 0 3px;
    font-size: 16px;
}
.breadcrumb  li a:hover{
    color: #71b6f9;
}
.module-box .module-list {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
    padding: 0;
}
.module-box .module-list li {
    transition: all .35s;
    cursor: pointer;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    list-style: none;
    width: 100%;
}
.module-box .sub-block {
    transition: all .35s;
    background-color: #fafafa;
    color: #005881;
    font: 12px Montserrat-Regular,Arial,sans-serif;
    padding-bottom: 5px;
    padding-top: 10px;
    text-align: center;
    width: 29%;
    line-height: 16px;
    font-size: 23px;
    float: left;
}
.main-block{
	float: left
}
.module-box.module-box-mob .acc-title, .module-box .module-details .module-content .module-summary-left .redo-section, .module-box .module-list, .module-box .module-list li {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.module-box .module-icons{
  background-size: 141px 32px;
  background-repeat: no-repeat;
  width: 26px;
  display: inline-block;
  padding: 18px;
  background-position: -36px;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}
.module-box .module-icons.module-1 {
    background-image: url(../images/svg/overview.svg);
}
.module-box .module-icons.module-2 {
    background-image: url(../images/svg/form-edit.svg);
}
.module-box .module-icons.module-3 {
    background-image: url(../images/svg/user-setting.svg);
}
.module-box .module-icons.module-4 {
    background-image: url(../images/svg/view-data.svg);
}
.module-box .module-icons.module-5 {
    background-image: url(../images/svg/chart-view.svg);
}
.module-box .module-icons.module-6 {
    background-image: url(../images/svg/view-location.svg);
}
.module-box .module-icons.module-7 {
    background-image: url(../images/svg/download-csv.svg);
}
.module-list li:hover, .module-list li.active{
  background: #005881;
}
.module-list li:hover .sub-block, .module-list li.active .sub-block{
  background: #0c5171;
}
.module-list li:hover .module-icons, .module-list li.active .module-icons{
    background-position: -72px;
}
.module-list li:hover .module-name, .module-list li.active .module-name  {
    color: #fff;
}
.module-list a{
	display: inline-block;
	width: 100%;
}
.tgl-link{
  display: block;
  width: 30px;
  height: 32px;
  float: right;
  padding: 4px 7px;
  background: #ddd;
  font-size: 15px;
  border-radius: 2px;
}
.tgl-link:before {
    font-family: FontAwesome;
    content:"\f078";
}
.tgl-link.collapsed:before {
    font-family: FontAwesome;
    content:"\f077";
}

.tgl-link-full{
  display: block;
  width: 100%;
  height: 32px;
  float: right;
  font-size: 20px;
  border-radius: 2px;
}
.tgl-link-full:before {
    font-family: FontAwesome;
    content:"\f078";
    float: right;
}
.tgl-link-full.collapsed:before {
    font-family: FontAwesome;
    content:"\f077";
    float: right;
}
.tgl-link-full h4{
	margin: 0;
	padding: 5px 0;
	font-weight: bold;
	color: #03a9f4;
}
	/* customize scrollbar css */
  .scrollbar {
		width:100%;
		max-width:100%;
		height:330px;
		background-color:#c2e8f7;
		overflow-y:scroll;
	}

	/* customize scrollbar css */
	#scrollbar-custom::-webkit-scrollbar{
		width:8px;
		background-color:#cccccc;
	}
	#scrollbar-custom::-webkit-scrollbar:horizontal{
		height:8px;
	}
	#scrollbar-custom::-webkit-scrollbar-track{
		-webkit-box-shadow:0 0 6px #c8c8c8 inset;
	}
	#scrollbar-custom::-webkit-scrollbar-thumb{
		background-color:#adadad;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
	}
	#scrollbar-custom::-webkit-scrollbar-thumb:hover{
		background-color:#005881;
	}
	#scrollbar-custom::-webkit-scrollbar-thumb:active{
		background-color:#005881;
	}
.sqn-btn{
  display: block;
  width: 70px;
  height: 30px;
  overflow: hidden;
  padding: 5px 10px;
  border-radius: 15px;
  background: #f8a13a;
  color: #fff;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}
.sqn-btn:hover{
  background: #005881;
  color: #fff;
}
.l-selected{
  font-size: 20px;
  color: #f8a13a;
  line-height: 40px;
}
.selected{
  color: #f8a13a;
}
.mul-select-blk .btn{
  height: 38px;
  line-height: 28px;
}
.p-2-8{
  padding: 2px 8px;
}
.heading{
  font-size: 20px;
  font-weight: 600;
}

.add-form {
  position:absolute;
  top: 12px;
  right: 45px;
  font-size: 14px;
  padding: 0 10px;
  height: 32px;
  width: 125px;
  color: #ffffff;
  background: #03A9F4;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  transition: all .3s ease-in;
}
.add-form:hover {
    background: #71b6f9;
}
.f-name-c{
  font-size: 20px;
}
.side-bar{
  width: 340px;
}
.side-bar.right-bar{
  right: -350px;
}

.user-icon{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #ddd;
  color: #000;
  font-size: 20px;
  padding: 0 5px;
  margin: 15px 0 0 0;
  line-height: 32px;
  float: left;
}
.user-name-t{
  font-size: 14px;
  color: #000;
  float: left;
  line-height: 15px;
  margin: 14px 0 0 7px;
}
.user-name-t span{
  display: inline-block;
}
.user-name-t .wel{
  font-size: 10px;
  font-weight: 100;
}
.c-a-q{
  min-height: 38px !important
}
td.action-btn-td{
  width: 0;
  padding: 0;
}
.action-btn-blk{
  display: none;
}
.action-btn{
  display: inline-block;
  height: 45px;
  padding: 2px 8px;
  font-size: 20px;
  color: #919191;
  margin-right: 0px;
  line-height: 40px;
  float: right;
}
.drag-btn{
  font-size: 30px;
  float: right;
  color: #989898;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.drag-btn:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
tr, td, a{
  -moz-transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
#question-b-list tbody tr:hover{
    -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform:scale(1.02);
    -moz-transform:scale(1.02);
    transform:scale(1.02);
    font-weight: bold;
}
#question-b-list tbody tr:hover .action-btn-blk{
    display: block;
    width: 100%;
}
#question-b-list tbody tr:hover td.action-btn-td{
    padding:0 .75rem;
}
.no-overflow{
  overflow: unset;
}
.header-l-img{
  width: 48px;
  height: auto;
  margin: 6px 0;
  float: left;
}
.sub-header .breadcrumb{
  padding: 18px 0;
}
.indicator-link{
  cursor: pointer;
}
.indicator-link:hover{
	color: #f8a13a;
}
.indicators-detais{
  top: 25%;
}
.indicators-detais .modal-dialog{
  max-width: 80%;
}

.indicators-detais .close{
  width: 30px;
  height: 30px;
  position:  absolute;
  right: 20px;
  top: 10px;
}
.indicators-detais .ind-name{
  line-height: 65px;
}
.h-b-area{
  height: 80px;
  line-height: 80px;
}
.h-b-area span{
  font-size: 24px;
}
.h-b-area i{
  font-size: 28px;
  margin: 25px 0;
}
.h-b-area a i{
  font-size: 20px;
  margin: 31px 0;
}
.q-add-button{
  width: 100%;
  margin: 31px 0 0;
}
.a-btn{
  cursor: pointer;
}
.ft-16{
  font-size: 16px;
}
.h38{
  height: 38px;
}
.help-popover{
  max-width: 400px;
}
.help-popover .popover-header{
  background: #005881;
  color: #fff;
}
.help-popover .popover-header .text-info{
	color: #71b6f9 !important;
}
.help-popover .popover-header .close{
	color: #fff;
}
.help-popover .popover-body{
	background: #005881;
	color: #fff
}
.help-popover.bs-popover-auto[x-placement^=left] .arrow::after, .help-popover.bs-popover-left .arrow::after {
    right: 1px;
    border-left-color: #005881;
}
.help-popover.bs-popover-auto[x-placement^=right] .arrow::after, .help-popover.bs-popover-right .arrow::after {
    left: 1px;
    border-right-color: #005881;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 22px;
}

.slider.round:before {
  border-radius: 50%;
}
.cophy-color-box{
  background-color: #333;
  border-color: #333;
  color: #fff;
}
.dataTables_length{
  display: none;
}
.sm-d-b .card-box{
  background: #0098d2;
  color: #fff;
}
.sm-d-b i{
  font-size: 30px;
}
.sm-d-b .d-text{
  padding: 10px;
}
.w-20{
  width: 20%;
}
.left-header{
  background: #607D8B;
  text-align: right;
  padding: 9px;
  font-weight: 600;
  color: #fff;
}
.g-action-btn{
  font-size: 18px;
  color: #000;
  margin-left: 10px;
}
.f-12{
  font-size: 12px;
}
.tb-btn{
  font-size: 10px;
  padding: 2px 5px;
}
@media (min-width: 992px){
  .navbar-custom{
    float: left;
    width: 50%;
  }
  .q-select-bx .dropdown-menu{
    width: 400px;
    right: 0 !important;
    left: -161px !important;
  }
  .q-select-bx .inner{
    overflow-y: visible !important;
  }
  .module-box .module-list li {
    height: 50px;
  }
  .module-box .sub-block {
    padding: 7px 10px;
  }
  .module-box .module-name {
    font-size: 15px;
    padding: 0 10px;
    font-weight: 600;
    color: #005881;
    transition: all .35s;
  }
  .sm-d-b{
  	margin: 10px 40px 10px 40px;
  	padding: 0 15px;
  }
}
@media screen and (max-width: 768px){
  .module-box .sub-block span {
      padding-left: 3px;
      padding-right: 3px;
  }
}
