*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #006E51;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.containers {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.containers.left {
  left: 0;
}

.containers.right {
  left: 50%;
}

.containers::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #006E51;
  border-radius: 16px;
  z-index: 1;
}

.containers.right::after {
  left: -8px;
}

.containers::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #006E51;
  z-index: 1;
}

.containers.right::before {
  left: 8px;
}

.containers .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #006E51;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.containers.left .date {
  right: -130px;
}

.containers.right .date {
  left: -130px;
}

.containers .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #F6D155;
  border: 2px solid #006E51;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #006E51;
  z-index: 1;
}

.containers.left .icon {
  right: 56px;
}

.containers.right .icon {
  left: 56px;
}

.containers .content {
  padding: 30px 90px 30px 30px;
  background: #F6D155;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.containers.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.containers .content h2 {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: normal;
  color: #006E51;
}

.containers .content p {
  margin: 0;
  font-size: 16px;
  line-height: 29px;
  color: #000000;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 33px;
  }
  .content h2{

    text-align: left;
  }
  .content h4{

    float: left;
  }

  .containers {
    width: 100%;
    padding-left: 50px;
    padding-right: 20px;
  }

  .containers.right {
    left: 0%;
  }

  .containers.left::after, 
  .containers.right::after {
    left: 25px;
  }

  .containers.left::before,
  .containers.right::before {
    left: 36px;
    border-color: transparent #006E51 transparent transparent;
  }

  .containers.left .date,
  .containers.right .date {
    right: auto;
    left: 58px;
    top: -10px;
  }

  .containers.left .icon,
  .containers.right .icon {
    right: auto;
    left: 73px;
  }

  .containers.left .content,
  .containers.right .content {
    padding: 22px 10px 30px 72px;
    border-radius: 500px 0 0 500px;
  }
}

.modal.fade.show{

  opacity: 1 !important;
}

.modal-title{

  font-size: 20px;
  font-weight: 700;
}

.modal-body{
  padding: 28px !important;
  text-align: justify;
}
.modal-header{

  padding: 14px 18px !important;
  text-align: left;
}

@media(max-width:576px){

  .containers .content h2{

    font-size: 18px;
  }
}