

p {
    font-size: 14px;
}

h6 {
    font-size: 16px;
}

a{
    text-decoration:none;
}


.form-control {
    display: block;
    width: 100%;
    height: 45px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 14px;
}

#mobile_page {
    width: 100%;
    height: 100%;
    background:#FFFDED;
}

a.forgot {
    float: right;
    text-decoration: none;
    display: inline-block;
    color: red;
}
/*------owl starts here-------*/

.mobilemenu_section {
    background:#ff7902;
    padding: 3px 0px;
    color:#fff;
}

.app_home_slider {
    background: #fff;
    padding: 5px;
    border-bottom:1px solid #ddd;
}

.app_slide {
    text-align: center;
    border-radius: 4px;
    background: #ddd;
}

.app_slide a{
    display:block;
    text-decoration:none;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
    color:#000;
}
.app_slide a.active {
    color: #ff7902;
}

.app_slide img {
    width: 100%;
    max-width: 40px;
    text-align: center;
    display: inline-block !important;
    margin-bottom: 5px;
}

.owl-carousel .item {
    position: relative;
    z-index: 100; 
    -webkit-backface-visibility: hidden; 
}
.disabled{
    display: none;
}

.owl-theme .owl-nav {
    margin-top: 10px;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    bottom:20px;
    font-size: 20px;
}
.owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
    left: -19px!important;
    position: absolute;
    bottom:0px;
}
.owl-nav .owl-next  {
    right: -19px;
    position: absolute;
    bottom:0px;
}

.owl-nav .owl-prev  {
    left: -19px;
    position: absolute;
    bottom:0px;
}

.owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
    left: -19px!important;
    position: absolute;
    bottom: 0px;
    display: none;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
    color: #ff7902;
    text-decoration: none;
}

/*------owl starts here-------*/
a.update{
    padding:5px 10px;
    background:#00923f;
    color:#fff!important;
    border-radius:4px;
}

.mobile_sub {
    color: #fff;
    font-size: 16px;
    background: #00923f;
    padding: 10px;
}

.common_heading {
    text-align: left !important;
    padding: 10px 0px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background:#ff7902;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color:#fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/*----login page starts here---*/

.member_section a{
    text-decoration:none;
}
a.view_more {
    text-align: right;
    display: block;
}
a.view_more::after {
    font-family: "Font Awesome 5 Free";
    content: "\f101";
    display: inline-block;
    padding-left: 4px;
    vertical-align: middle;
    font-weight: 900;
}
.home_page {
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 80px;
}

.member_heading h3 {
    font-family: 'Grenze', serif;
}

.clf_card_info{
    margin:10px 0px;
    background:#ddd;
    padding:10px;
    border-radius:4px;
}
.card_box {
    padding: 10px;
    margin: 5px 0px;
    background-color: #fff;
    border-top:2px solid ;
    border-bottom:2px solid ;
    border-radius:4px;
}
.logo_content {
    text-align: center;
}
.logo_content h3 {
    font-size: 28px;
    font-family: 'Grenze', serif;
    margin-bottom: 20px;
    font-weight: 500;
}

.logo_content h5 {
    font-size: 24px;
    font-family: 'Grenze', serif;
}
.m_logo img {
    width: 36px;
    float: right;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #e9ecef;
    font-weight: 500;
}

.logo_text h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-family: 'Grenze', serif;
}

#mobile_page .btn {
    font-size: 1.8rem !important;

}
/*----login page starts here---*/