.modal {
    z-index: 1050 !important;
}
.modal-backdrop {
    z-index: 1040 !important;
}
.table th, .table td {
    padding: 0.4rem;
}
.btn {
    padding: 0.3rem .75rem;
}
.breadcrumb > li.breadcrumb-item {
    max-width: 100%;
}
@media (min-width: 992px) {

    .page-content {
        padding: .5rem .75rem;
    }
}
.page-breadcrumb {
    margin: 0 0 .5rem;
}
.panel .panel-container .panel-content {
    padding: .5rem .5rem;
}
.page-breadcrumb {
    margin: 0 0 .5rem .3rem;
}
.price {
    font-size: 18px;
    font-weight: bold;
}
.btn-danger {
    color: #fff;
    background-color: #886ab5;
    border-color: #886ab5;
}
.nav-function-top .page-sidebar .primary-nav .nav-menu {
    margin: 0;
    margin-left: 0px;

}
.header-btn{

    width: 2.87rem !important;
}
.header-btn-2[data-class='mobile-nav-on']{

    font-size: 30px;
    color: #000;
}
@media (max-width: 992px){
    .primary-nav .nav-menu > li:hover > a + ul {
        display: block !important;
    }
}

@media(max-width:410px){

    .phone-view{

        margin-left: 0 !important;
        margin-top: 10px;
    }
}
#exportBtn1{

    padding: 6px 20px !important;
}
.kv-table-header{

    background: #e2e8f0;
    border: 1px solid #e9e9e9;
}
.btn-danger{

    box-shadow: none !important;
}
.btn-danger:focus{

box-shadow: none !important;
background-color: #886ab5;
border-color: #886ab5
}
.btn-danger:hover{
    background-color: #886ab5;
    border-color: #886ab5

}
.kv-grid-table .kv-table-header{

    background: #e2e8f0;
    border: 1px solid #e9e9e9;
}
.form-inline{

    display: block !important;
}
.form-inline .form-group{

    display: block !important;
}

@media(max-width:768px){
    .hidden-lg-up + div{

        display: none !important;
    }
    
}
@media (min-width: 576px){
    .form-inline .form-control {
        display: inline-block;
        width: 100% !important;
        vertical-align: middle;
    }
}
.select2-container--krajee-bs4 .select2-selection--single .select2-selection__clear, .select2-container--krajee-bs4 .select2-selection--multiple .select2-selection__clear {
    /* float: right; */
    right: 26px !important;
    top: 8px !important;
    position: absolute !important;
    font-size: 1.2rem;
}

hr {
    margin: 5px;
    /* height: 1px; */
    background-color: #ccc;
    width: 100% !important;
}
.box.bordered-box tr td img{

    margin-bottom: 4px;
}

.profile_top{

    background-color: #fff;
    width: 100%;
    margin-bottom: 10px;
    display: flex !important;
    justify-content: space-between !important;
    box-shadow: 0px 0px 13px 0px rgba(62, 44, 90, 0.08);
}
.card-heade span{

font-size: 18px;
border-right: 2px solid;
padding: 0px 16px;
}
.card-heade span:last-child{

    border: 0;
}
.box .box-header{

    font-size: 24px !important;
}

.border_set .table-bordered td{

    border: 0px !important;
}
.border_set .table-bordered th{

    border: 0px !important;
}

.top_box p{

    font-size: 19px;
}
.top_box p span{

   font-weight: 400;
}
.user_font th{

    font-weight:bolder;
}