@media(max-width:576px){

	.navbar .navbar-brand h2{

		font-size: 25px;
		/* line-height: 37px; */
		}
	.header-bottom h2{

		font-size: 20px;
	}
	.partners{

		padding: 20px 0px;
	}
	.Modern-Slider .item .img-fill{

		height: 160px!important;
	}
	.Modern-Slider .NextArrow{
	
		top:33%;

	  }	  

	  .Modern-Slider .PrevArrow {

		top:33%;

	  }
	  .title h3{

		font-size: 27px;
	  }
	  .section-heading{

		margin-bottom: 42px;
	  }

	  .service-item.newsizeimg img{

		height: 161px!important;
	}
	.service-item .down-content h4{

		font-size: 17px;
	}

}